/* Universal Styles */

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: Helvetica, san-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

a {
    color: seashell;
    text-decoration: underline;
}

a:hover {
    color: white;
}

h2, h4, h5 {
    margin: 10px;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    height: 160px;
}

/* Header Section */

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
}

nav span {
  display: inline-block;
  padding: 0px 13px;
}

.logo {
  display: flex;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

/* Mission Section */

.mission {
    padding: 70px 0px 50px 0px;
    /* margin-top: 100px; Why does this move the header down? */
}

.mission-background {
    background: url(../img/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

/* Tea of the Month Section */

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin: 0px auto;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.box img {
    width: 300px;
    height: 200px;
}

/* Location Section */

.locations {
    background: url(../img/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px auto 40px auto;
}

.locations-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locations-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 0px 10px;
    margin: 0px 20px;
    width: 300px;
    height: 280px;
}

.locations-box span, h3 {
    margin: 20px 0px;
}

/* Footer Section */

footer {
    padding: 30px 20px;
    text-align: left;
}